@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap');
*{
    list-style: none;
}
:root{
    --mainColor:#ff206e!important;
}
.w-15{
    width: 15%;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    height: 4000px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../image/light_dot.jpg);
}
.navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.navbar-nav .nav-item a.active {
    color: var(--mainColor);
}
.navbar-toggler span{
    color: white;
    height: 3px;
    display: flex;
    background-color: transparent;
    border: 2px solid white;
    margin: .25rem auto;

}
.navbar-toggler span:nth-child(1){
    width: 25px;
}
.navbar-toggler span:nth-child(2){
    width: 25px;
}
.navbar-toggler span:nth-child(3){
    width: 10px;
}
/* Header */
.header{
    background-image: url(../image/bg.jpg);
    background-size: cover;
}
.header-title{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.header-content h2{
    color: white;
}
.header-content .view{
    color: var(--mainColor);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-icons{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
}
.header-icons a{
    color:  white;
}
.text-effect{
    opacity: 0;
    animation: text-opacity 1s;
    animation-fill-mode: forwards;
    position: relative;
}
.text-effect::after{
    content: '';
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: block 2s;
}
@keyframes text-opacity {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes block{
    0%{
        left: 0;
        width: 0%;
    }
    75%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }

}
@media (max-width:991px) {
        .navbar{
            background-color: black;
        }
}
/* About */
.about{
    margin-top: 6rem;
}
.title h2{
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #efecec;
    
}
.title h3{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
.about-content h5{
    color: var(--mainColor);
    padding-bottom: 10px;
}
.about-content h4{
    color: black;
    font-weight: bold;
}
.about-content p:first-of-type{
    line-height: 1.6;
    font-size: 0.9rem;
    margin-bottom: 80px;
    width: 500px;
}
.about-content p:last-of-type a{
    color: black;
    font-weight: 200;
}
/* Sevices */
.services{

    padding-top: 6rem;
    background-image: url(../image/dark_dot.jpg);
}
.services .title h2{
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #393939;
    
}
.services .title h3{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.title-fixed{
    color: antiquewhite;
}